<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" media="screen" href="/css/bundle.css">
</head>
<body>
    <% if(validation) { %>
        <script>var validation = <%-JSON.stringify(validation) %></script>
    <% } %>
    <% if(error) { %>
        <script>var error = <%-JSON.stringify(error) %></script>
    <% } %>
    <% if(success) { %>
        <script>var success = <%-JSON.stringify(success) %></script>
    <% } %>
    <% if(user) { %>
        <script>var user = <%-JSON.stringify(user) %></script>
    <% } %>
    <div id="credibility"><%- reactOutput %></div>
    <script src="/js/bundle.js"></script>
</body>
</html>
